@import "tailwindcss";
:root{
}
@theme{
  --breakpoint-sm: 470px;
  --breakpoint-md: 740px;
}
html{
  min-height: 100%!important;
  height: 100%;

}
body {
  background: #242424;
  color: #c9c9c9;
  height: 100%;
}